
<p-toast></p-toast>
<div class="admin-page">
  <p-card header="" subheader="List of all sizes">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button styleClass="p-button-success mr-2" label="New" icon="pi pi-plus" routerLink="form"></p-button>
            <p-button styleClass="p-button-secondary" label="Back" icon="pi pi-arrow-circle-left" (click)="back()"></p-button>

        </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [paginator]="true" [rows]= 10 [value]="variants" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <!-- <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th> -->
              <!-- <th>Image</th> -->
              <!-- <th pSortableColumn="color">
                Color <p-sortIcon field="color"></p-sortIcon>
              </th> -->
              <th pSortableColumn="size">
                Size <p-sortIcon field="size"></p-sortIcon>
              </th>

               <th pSortableColumn="inventory">
                Inventory <p-sortIcon field="inventory"></p-sortIcon>
              </th> 
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-variant>
            <tr>
              <!-- <td>{{ variant.product.name }}</td> -->
              <!-- <td><img [src]="variant.image" alt="no img available" style="max-width: 150px; cursor: pointer;"></td> -->
              <!-- <td>{{ variant.color }}</td> -->
              <td>{{ variant.size }}</td>
              <td>{{variant.inventory}}</td>
              <td>
                <p-button (click)="deleteVariant(variant.id)" styleClass="p-button-danger mr-2" icon="pi pi-trash">
                </p-button>
                <p-button (click)="navigateToVariant(variant.id)" styleClass="p-button-success" icon="pi pi-pencil">
                </p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

