
    .dropbtn {
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
      background-color: transparent;
    }
    
    .dropdown, .dropdown-2, .dropdown-3 {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content,  .dropdown-content-2 {
      display: none;
      position: absolute;
      text-align: center;
      background-color: #f1f1f1;
      padding: 35px;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 100;
    }

    .dropdown-content-3{
      display: none;
      position: absolute;
      text-align: center;
      background-color: #f1f1f1;
      padding: 35px;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 100;
    }
    
    .dropdown-content a, .dropdown-content-2 a, .dropdown-content-3 a{
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      cursor: pointer;
    }
    
    .dropdown-content img{
      width: 35px;
      display: block;
    }
    .dropdown-content a:hover, .dropdown-content-2 a:hover, .dropdown-content-3 a:hover {
      background-color: #682e42;
      opacity: 0.8;
      color: #FFCA03;    
    } 
    
    .dropdown:hover .dropdown-content {
      display: flex;
    }
    .dropdown-2:hover .dropdown-content-2 {
      display: flex;
    }
    .dropdown-3:hover .dropdown-content-3 {
      display: block;
    }

    .brands{
 
    }

        @media only screen and (max-width: 868px){
        .dropbtn{
            padding: 16px 5px;
        }
        .dropdown-content, .dropdown-content-2, .dropdown-content-3{
          padding: 8px;
        }
    }
        @media only screen and (max-width: 767px){
          .dropdown-content a, .dropdown-content-2 a, .dropdown-content-3 a{
      color: black;
      padding: 6px 12px;
      text-decoration: none;
      display: block;
      cursor: pointer;
    }
    
    }
    
        @media only screen and (max-width: 692px){
          .dropdown-content-3{
            min-width: 100px;
          }
        .dropbtn, .brands, .categories, .dropdown-content-3{
          font-size: 12px;
        }
               .dropdown-content, .dropdown-content-2, .dropdown-content-3{
          padding: 4px;
        }
    }
            @media only screen and (max-width: 584px){

               .dropdown-content, .dropdown-content-2, .dropdown-content-3{
          z-index: 200;
        }
    }


