// .spring{
//     width: 100%;
//     height: 20%;
//     background-image: url(../../../../../eshop-frontend-master/apps/cataldo-store/src/assets/woman-1509956_960_720.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     position: relative;
//     .logo{
//        padding: 50px 0;
//        display: flex;
//        justify-content: flex-end;
//        img{
//            width: 200px;
//        }
//     }
// }
// .overlay{
//     z-index: 10;
//     background-color: #672139;
//     width: 100%;
//     height: 100%;
//     opacity: 0.2;
//     position: absolute;
//     top: 0;
//     left: 0;
// }
// .z-top{
//     z-index: 100;
//     opacity: 1;
// }
// .info{
//     display: flex;
//     justify-content: center;
//     max-height: 250px;


//     img{
//         width: 33%;
//         object-fit: cover;
//     }

 
// }
// .interact{
//     background-color: yellowgreen;
//     height: 200px;
//     width: 200px;

// }
// .news{
//     display: flex;
//     justify-content: center;
//     img{
//         width: 80%;
//     }
// }

// .brands{
//     min-height: 150px;
// }

// @media only screen and(max-width: 1291px){
//     .spring{
//         .logo{
//             img{
//                 width: 160px;
//             }
//         }
//     }
//      @media screen and (max-width: 948px){
//              .spring{
//         .logo{
//             img{
//                 width: 140px;
//             }
//         }
//     }
//      }
//           @media only screen and (max-width: 868px){
//              .spring{
//         .logo{
//             img{
//                 width: 100px;
//             }
//         }
//     }
//     .info{
//     display: none;
//     justify-content: center;
//     flex-direction: column;
//     margin-bottom: 20%;
// min-height: 120%;


//     img{
//         width: 80%;
//         object-fit: cover;
//         min-height: 40%;
//     }

 
// }
//     }
//         @media only screen and (max-width: 688px){
//              .spring{
//         .logo{
//             img{
//                 width: 80px;
//             }
//         }
//     }
//     }

// }
.spring{
    width: 100%;
    height: 20%;
    background-image: url(../../../../../eshop-frontend-master/apps/cataldo-store/src/assets/woman-1509956_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    .logo{
       padding: 50px 0;
       display: flex;
       justify-content: flex-end;
       img{
           width: 200px;
       }
    }
}
.overlay{
    z-index: 10;
    background-color: #672139;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
}
.z-top{
    z-index: 100;
    opacity: 1;
}
.info{
    display: flex;
    justify-content: center;
    max-height: 250px;


    img{
        width: 33%;
        object-fit: cover;
    }

 
}
.interact{
    background-color: yellowgreen;
    height: 200px;
    width: 200px;

}
.news{
    display: flex;
    justify-content: center;
    img{
        width: 80%;
    }
}

.brands{
    min-height: 150px;
}

@media only screen and(max-width: 1291px){
    .spring{
        .logo{
            img{
                width: 160px;
            }
        }
    }
     @media screen and (max-width: 948px){
             .spring{
        .logo{
            img{
                width: 140px;
            }
        }
    }
     }
          @media only screen and (max-width: 868px){
             .spring{
        .logo{
            img{
                width: 100px;
            }
        }
    }

    }
        @media only screen and (max-width: 688px){
             .spring{
        .logo{
            img{
                width: 80px;
            }
        }
    }
    .info{
        display: none;
    }
    }



}