<div class="spring">
    <div class="overlay"></div>
    <div class="grid">
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4 z-top">
        <div class="logo">
          <img src="../../../assets/svg.logo.svg">
                </div>
      </div>
    </div>
  </div>

<eshop-frontend-products-categories-banner></eshop-frontend-products-categories-banner>
<ui-slider></ui-slider>

<div class="grid">
  <div class=" col-12 info">
    <img src="../../assets/SPEDIZIONE.jpg" alt="">
    <img src="../../assets/pagamenti.jpg" alt="">
    <img src="../../assets/reso facile-1.jpg" alt="">
  </div>

</div>
<div class="grid">
   <div class="col-12 news"><img src="../../assets/news.jpg" alt=""></div>

</div>