<header>

  
    <div class="grid">
      <div class="col-1 z-top logo header-logo">
        <img src="../../../assets/svg.logo.svg" routerLink="/" alt="">
      </div>
      <div class="col-10 z-top middle-space">

      </div>
      <div class="col-1 tools z-top">
        <i class="pi pi-user"></i>
        <orders-cart-icon></orders-cart-icon>
      </div>

    </div>
    <div class="grid">
      <div class="col-4" id="whiteSpace">

      </div>
      <div class="col-4" id="nav-element">
        <eshop-frontend-nav></eshop-frontend-nav>
      </div>
      <div class="col-4" id="search-element">
        <eshop-frontend-products-search></eshop-frontend-products-search>

      </div>
    </div>
 
</header>
