.d-item{
 display: flex;   
text-align: center;
color: var(--surface-0);
justify-content: space-between;
align-items: flex-end;

.pi{
    font-size: 4em;
    margin-bottom: 15px;
}

.name{
    font-size: 1.4em;
}

.number{
    margin-top: 50px;
    font-size: 2.2em;
    
}

}

.d-orders{    
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}
.d-products{    
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
.d-users{    
    background-color: #3eecac;
    background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}
.d-totalsales{    
    background-color: #fbda61;
    background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

@media only screen and (max-width: 470px) {
.d-item{
    .orders-section, .products-section, .sales-section{
        width: 50%;
    }
    .number{
        font-size: 1.3em;
    }
}
}


@media only screen and (max-width: 575px) {
.d-item{

    .pi{
        font-size: 2em;
    }
    .orders-section, .products-section, .sales-section{
        width: 100%;
    }
    .number{
        font-size: 1.3em;
    }
}
}


@media only screen and (max-width: 767px) {
.d-item{
    .number{
        font-size: 1.3em;
        margin-top: 5px;
    }
}
}

@media only screen and (max-width: 1100px) {
.d-item{
    flex-direction: column;
    align-items: center;
    
}
}




