<!-- <footer>
  <div class="grid footer-wrapper">
    <div class="col-3 left-1">
      <img src="../../../assets/logolight.svg" alt="">
      <small>cataldostore.com</small>
    </div>
    <div class="col-3 left-2">

      <div class="address">

        <div><img class="ico" src="../../../assets/location-sign.svg" alt=""></div>

        <div>
          <p>Settimo Cataldo & c.srl</p>
          <small>Sede legale: Via F.P. Di Blasi, 17 (PA)</small>
        </div>

      </div>

      <div class="phone">

        <div class="phone-div"><img class="ico" src="../../../assets/mobile-screen-button-solid.svg" alt=""></div>
        <div class="f-data-cont">
          <div class="f-data"><small>Tel</small>
            <p>091336644</p>
          </div>
          <div class="f-data"><small>Whatsapp</small>
            <p>3392059260</p>
          </div>
          <small style="margin-top: 10px;">dal Lunedì al Venerdì <br> 10:00-13:00/17:00-19:45</small>
        </div>
      </div>

      <div class="mail">
        <img src="../../../assets/envelope-solid.svg" alt="">
        <a href="mailto:oldriveroriginals@gmail.com">oldriverstore@gmail.com</a>
      </div>

    </div>
    <div class="col-3 info">

      <ul>
        <li id="top-list">Informazioni</li>
        <li>Chi siamo</li>
        <li>Condizioni</li>
        <li>Modalità</li>
        <li>Privacy Policy</li>
      </ul>
      <div>


      </div>

    </div>
    <div class="col-3 social">

      <ul class="nav">
        <li class="nav-item" href="#"><a href=""><i class="pi pi-facebook"></i></a></li>
        <li class="nav-item" href="#"><a href=""><i class="pi pi-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer> -->
<footer>
  <div class="grid footer-wrapper">
    <div class="left-1 md:col-12 lg:col-2 xl:col-3">
      <img src="../../../assets/logolight.svg" alt="">
      <small>cataldostore.com</small>
    </div>
    <div class="left-2  lg:col-4 xl:col-3">

      <div class="address">

        <div><img class="ico" src="../../../assets/location-sign.svg" alt=""></div>

        <div>
          <p>Settimo Cataldo & c.srl</p>
          <small> <span> Sede legale:</span> Via F.P. Di Blasi, 17 (PA)</small>
        </div>

      </div>

      <div class="phone">

        <div class="phone-div"><img class="ico" src="../../../assets/mobile-screen-button-solid.svg" alt=""></div>
        <div class="f-data-cont">
          <div class="f-data"><small>Tel</small>
            <p>091336644</p>
          </div>
          <div class="f-data"><small>Whatsapp</small>
            <p>3392059260</p>
          </div>
          <small style="margin-top: 10px;"> <span>dal Lunedì al Venerdì</span><br> 10:00-13:00/17:00-19:45</small>
        </div>
      </div>

      <div class="mail">
        <img src="../../../assets/envelope-solid.svg" alt="">
        <a href="mailto:oldriveroriginals@gmail.com">oldriverstore@gmail.com</a>
      </div>

    </div>
    <div class="info  lg:col-4 xl:col-3">

      <ul>
        <li id="top-list">Informazioni</li>
        <li>Chi siamo</li>
        <li>Condizioni</li>
        <li>Modalità</li>
        <li>Privacy Policy</li>
      </ul>
      <div>


      </div>

    </div>
    <div class="social md:col-12 lg-col-2 xl:col-3">

      <ul class="nav">
        <li class="nav-item" href="#"><a href=""><i class="pi pi-facebook"></i></a></li>
        <li class="nav-item" href="#"><a href=""><i class="pi pi-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>